
html{

background-color: aqua;
}
/* #hello{
    background-color: tomato;
     width: 100px;
    height: 100px;
}
.class1 {
    background-color: yellow;
    color: red;
    margin: 100px;
    padding : 100px;
    border: solid 200px black;
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.1;
        
}  */
/* .class2{
    width: 200px;
    height: 100px;
    background-color: aqua;

 }
.class3{

    background-color: brown;
    width: 20rem;
    height: 10rem;
} */
.container{
background-color: bisque;
font-size: 10px;
width: 100px;
height: 100px;
justify-content: center;
align-items: center;
display: flex;
gap : 10px;
}